<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- GPS位置情報権限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 注: ACCESS_BACKGROUND_LOCATIONは不要（ForegroundServiceはフォアグラウンド扱いのため） -->
    <!-- インターネット権限（地図タイル取得用） -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- ネットワーク状態確認権限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Bluetooth GNSS関連権限 -->
    <!-- Android 11以下のBluetooth権限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    
    <!-- Android 12以降のBluetooth権限（細分化された権限） -->
    <!-- Bluetoothデバイスのスキャン -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- ペアリング済みデバイスとの通信 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- デバイスを検出可能にする（必要に応じて） -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    
    <!-- フォアグラウンドサービス権限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Android 13以降の通知権限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <!-- ストレージ権限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Android 11以降で全ファイルアクセスが必要な場合 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    
    <!-- Android 13以降のメディア読み取り権限（gallery_media_picker / photo_manager用） -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 写真取り込みで位置情報（GPS EXIF）を保持するため。全ファイルアクセスが無い端末向けの第2経路
         （MediaStore.setRequireOriginal）。許可ダイアログは出ず、メディア読み取り権限に付随して付く -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    
    <!-- Bluetooth機能要求 -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />

    <application
        android:label="こかげマップ"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- flutter_background_service のフォアグラウンドサービス定義 -->
        <service
            android:name="id.flutter.flutter_background_service.BackgroundService"
            android:foregroundServiceType="dataSync|location"
            android:exported="false"
            android:stopWithTask="true"
            tools:replace="android:exported,android:stopWithTask" />
            
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Flutter GPU（3D の flutter_gpu スパイク）。無いと gpuContext が例外を投げる -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableFlutterGPU"
            android:value="true" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher: ブラウザでURLを開くために必要 -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
    </queries>
</manifest>
